html, body {
  background-color: khaki;
  width: 100%;
  height: 100%;
}

#drawArea {
  display: block;
}


.coords label {
  display: inline-block;
  min-width: 70px;
  margin: 5px 5px 5px 5px;
}

.coords input {
  width: 75px;
}